.ex-1-square{
    transition: background-color ease 2s;
}
.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: width ease 4s;
}
.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: border-radius ease 1s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square{
    transition: opacity ease 1s;
}
.ex-4-square:hover{
    opacity: 0%;
}