.ex-1-square{
    transition: background-color ease 2s;
}
.ex-1-square:hover{
    background-color: red;
}



.ex-2-square{
    transition: width ease 4s;
}
.ex-2-square:active{
    width: 100%;
}



.ex-3-square{
    transition: border-radius ease 1s;
}
.ex-3-square:hover{
    border-radius: 50%;
}



.ex-4-square{
    transition: opacity ease 1s;
}
.ex-4-square:hover{
    opacity: 0%;
}



.ex-5-square{
    transition: width ease 1s, height ease 1s;
}
.ex-5-square:hover{
    width: 125px;
    height: 125px;
}
.ex-5-square:active{
    width: 25px;
    height: 25px;
}



.ex-6-img:hover{
    filter: grayscale(100%);
}



.ex-7-img{
    transition: filter ease 1s;
}
.ex-7-img:hover{
    filter: grayscale(80%) saturate(50%);
}



.ex-8-img{
    transition: border-radius ease 2s, filter ease 2s;
}
.ex-8-img:hover{
    filter: grayscale(70%);
    border-radius: 25px;
}



.ex-9-img{
    transition: border-radius ease 2s, filter ease 2s, width ease 2s;
}
.ex-9-img:hover{
    filter: hue-rotate(90deg) brightness(0.5);
    border-radius: 25px;
    width: 700px;
}





